@page "/"
@model Esfa.Recruit.Subscriptions.Web.Pages.Subscriptions.Create

@{
    ViewData["Title"] = "Create";
}

<h2>Create Subscription</h2>
<hr />

<p>
    Enter the subscription name:
</p>
<form method="POST">
    <div>Name: <input asp-for="Data.Name" /></div>
    <div>
        <input type="submit" />
    </div>
</form>




